@model List<Book>
<h3>Best sellers</h3>
<ul style="padding-left:0;list-style-type:none;">
    @foreach (var book in Model)
    {
        <li>@book.Title - @book.Author (@book.Price.ToString("c"))</li>
    }
</ul>